.botonPersonalizado {
    background-color: $rositaOscuro;
    border-color: $rositaOscuro;

    &:hover {
        background-color: white;
        border-color: $rositaOscuro;
        color: $rositaOscuro;
    }
}